In [48]:
import pandas as pd

# Define the path to your xlsb file
file_path = "data/Produits laitiers équitables - 2023 (1).xlsb"

# Use pyxlsb to open the file and read it into a pandas dataframe
# Adjust the sheet name as necessary
df = pd.read_excel(file_path, engine='pyxlsb', sheet_name='Par SM')

# Remove the first five rows
df = df.iloc[6:]

print(df.columns)

# Now you can work with the dataframe 'df' as needed
print(df.head())

Index(['Quantités vendues - année 2023', 'Unnamed: 1', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13'],
      dtype='object')
   Quantités vendues - année 2023 Unnamed: 1  Unnamed: 2  Unnamed: 3  \
6                           Baden         73        44.0        48.0
7                            Bâle         52        34.0        45.0
8                         Balerna         69        41.0       113.0
9                          Bienne        478       537.0       527.0
10                      Chavannes        902       927.0      1277.0

    Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  \
6         33.0        57.0        40.0        30.0        42.0      50.226
7         41.0        46.0        47.0        42.0        33.0      47.258
8        111.0        81.0        64.0        61.0        87.0      98.778
9        645.0       462.0       408.0       493.0       433.0     523.010
10      1156.0      1127.0       984.0      1007.0      1065.0     956.862

    Unnamed: 10  Unnamed: 11  Unnamed: 12 Unnamed: 13
6        42.000       55.000       57.000     571.226
7        53.914       48.948       67.612     557.732
8        91.000      106.000      141.000    1063.778
9       435.000      572.000      485.000     5998.01
10     1096.746     1227.246     1070.888   12796.742

In [49]:
#rename columns
# Define the mapping of old column names to new column names
column_mapping = {
    'Quantités vendues - année 2023': 'Line Labels',
    'Unnamed: 1': '01/01/2023',
    'Unnamed: 2': '02/01/2023',
    'Unnamed: 3': '03/01/2023',
    'Unnamed: 4': '04/01/2023',
    'Unnamed: 5': '05/01/2023',
    'Unnamed: 6': '06/01/2023',
    'Unnamed: 7': '07/01/2023',
    'Unnamed: 8': '08/01/2023',
    'Unnamed: 9': '09/01/2023',
    'Unnamed: 10': '10/01/2023',
    'Unnamed: 11': '11/01/2023',
    'Unnamed: 12': '12/01/2023',
    'Unnamed: 13': 'Total General'
}

# Assuming df is your existing DataFrame
# Rename the columns using the provided mapping
df.rename(columns=column_mapping, inplace=True)

# Verify the change
df.head()

,Line Labels,01/01/2023,02/01/2023,03/01/2023,04/01/2023,05/01/2023,06/01/2023,07/01/2023,08/01/2023,09/01/2023,10/01/2023,11/01/2023,12/01/2023,Total General
6,Baden,73,44.0,48.0,33.0,57.0,40.0,30.0,42.0,50.226,42.000,55.000,57.000,571.226
7,Bâle,52,34.0,45.0,41.0,46.0,47.0,42.0,33.0,47.258,53.914,48.948,67.612,557.732
8,Balerna,69,41.0,113.0,111.0,81.0,64.0,61.0,87.0,98.778,91.000,106.000,141.000,1063.778
9,Bienne,478,537.0,527.0,645.0,462.0,408.0,493.0,433.0,523.010,435.000,572.000,485.000,5998.01
10,Chavannes,902,927.0,1277.0,1156.0,1127.0,984.0,1007.0,1065.0,956.862,1096.746,1227.246,1070.888,12796.742

In [50]:
print(df.columns)
print(df['Line Labels'])
df.loc[df['Line Labels'] == 'Saint-Gall Webersbleiche', 'Line Labels'] = 'St. Gall'
for i in df['Line Labels']:
    print(i)

Index(['Line Labels', '01/01/2023', '02/01/2023', '03/01/2023', '04/01/2023',
       '05/01/2023', '06/01/2023', '07/01/2023', '08/01/2023', '09/01/2023',
       '10/01/2023', '11/01/2023', '12/01/2023', 'Total General'],
      dtype='object')
6                        Baden
7                         Bâle
8                      Balerna
9                       Bienne
10                   Chavannes
11                        Chur
12                    Delémont
13                       Emmen
14                    Fribourg
15                      Genève
16                    Lausanne
17                      Lugano
18                       Marin
19                     Monthey
20                      Morges
21                        Nyon
22                  Rapperswil
23    Saint-Gall Webersbleiche
24                San Antonino
25                     Sargans
26                      Sierre
27                        Sion
28                     Vesenaz
29                       Vevey
30                       Vezia
31                     Yverdon
32               Total général
Name: Line Labels, dtype: object
Baden
Bâle
Balerna
Bienne
Chavannes
Chur
Delémont
Emmen
Fribourg
Genève
Lausanne
Lugano
Marin
Monthey
Morges
Nyon
Rapperswil
St. Gall
San Antonino
Sargans
Sierre
Sion
Vesenaz
Vevey
Vezia
Yverdon
Total général

In [51]:
data = {
    'City': df['Line Labels'].tolist(),
    'Total General': df['Total General'].tolist()
}
print(data)

{'City': ['Baden', 'Bâle', 'Balerna', 'Bienne', 'Chavannes', 'Chur', 'Delémont', 'Emmen', 'Fribourg', 'Genève', 'Lausanne', 'Lugano', 'Marin', 'Monthey', 'Morges', 'Nyon', 'Rapperswil', 'St. Gall', 'San Antonino', 'Sargans', 'Sierre', 'Sion', 'Vesenaz', 'Vevey', 'Vezia', 'Yverdon', 'Total général'], 'Total General': [571.226, 557.732, 1063.778, 5998.01, 12796.741999999998, 326.962, 3782.29, 1170.1860000000001, 14208.658, 15091.186, 14868.984, 1458.128, 26921.1, 39802.592000000004, 7940.012, 3370.256, 391.45799999999997, 489.73, 948.174, 431.076, 29548.824, 15158.846, 5026.776, 23123.688, 1679.6660000000002, 10287.003999999999, 238810.48599999998]}

In [52]:
# Convert the data into a DataFrame
df = pd.DataFrame(data)
df.head()

        City  Total General
0      Baden        571.226
1       Bâle        557.732
2    Balerna       1063.778
3     Bienne       5998.010
4  Chavannes      12796.742

In [55]:
import folium
from geopy.geocoders import Nominatim
import time
# Instantiate the geolocator
geolocator = Nominatim(user_agent="lait_equitable_stores")

In [56]:
# Function to get latitude and longitude
def get_lat_lon(city):
    try:
        time.sleep(1)  # Simple rate-limiting mechanism
        location = geolocator.geocode(city + ', Switzerland')
        return location.latitude, location.longitude
    except AttributeError:
        return None, None

# Apply the function to get latitudes and longitudes
try:
    df[['Lat', 'Lon']] = df.apply(lambda row: pd.Series(get_lat_lon(row['City'])), axis=1)
    df = df[:-1]  # Remove the last row as before
except Exception as e:
    print(f"An error occurred: {e}")
print(df)

            City  Total General        Lat       Lon
0          Baden        571.226  47.473683  8.308682
1           Bâle        557.732  47.558108  7.587826
2        Balerna       1063.778  45.849191  9.007081
3         Bienne       5998.010  47.140208  7.243903
4      Chavannes      12796.742  46.528521  6.572670
5           Chur        326.962  46.854747  9.526490
6       Delémont       3782.290  47.361588  7.354445
7          Emmen       1170.186  47.075243  8.283946
8       Fribourg      14208.658  46.805566  7.161267
9         Genève      15091.186  46.204717  6.142311
10      Lausanne      14868.984  46.521827  6.632702
11        Lugano       1458.128  46.005010  8.952028
12         Marin      26921.100  47.009134  7.009020
13       Monthey      39802.592  46.252844  6.947826
14        Morges       7940.012  46.509327  6.498317
15          Nyon       3370.256  46.382058  6.240279
16    Rapperswil        391.458  47.226653  8.816404
17      St. Gall        489.730  47.425618  9.376240
18  San Antonino        948.174  46.158858  8.969006
19       Sargans        431.076  47.048264  9.440200
20        Sierre      29548.824  46.292252  7.532319
21          Sion      15158.846  46.231175  7.358879
22       Vesenaz       5026.776  46.239918  6.198222
23         Vevey      23123.688  46.460298  6.841865
24         Vezia       1679.666  46.024654  8.936741
25       Yverdon      10287.004  46.778571  6.640916

In [61]:
# Create a map
m = folium.Map(location=[46.8182, 8.2275], zoom_start=7, tiles='Cartodb Positron', attr='Map data © OpenStreetMap contributors, CC-BY-SA, Imagery © Stamen Design') # Centered on Switzerland

# Add markers
for index, row in df.iterrows():
    folium.Marker(
        [row['Lat'], row['Lon']],
        popup=f"{row['City']}: Total General - {row['Total General']}",
    ).add_to(m)

# Display the map
m.save('swiss_cities_map.html')